@import url("https://fonts.googleapis.com/css?family=Anton|Rubik:900");
body {
  font-family: 'Rubik', cursive;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 900;
  box-sizing: border-box;
  text-transform: uppercase; }

.hide {
  opacity: 0;
  transition: all 0.8s;
  visibility: hidden; }

.show {
  opacity: 1;
  transition: all 0.8s;
  visibility: visible; }

h1 {
  font-size: 6rem; }

.or {
  font-size: 5rem;
  display: block; }

.line2 {
  font-size: 6rem;
  text-shadow: 2px 3px #fff; }

button {
  background: #f8d696;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 100%; }

h1 {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite; }

h2#result {
  color: #f8d696;
  font-size: 3rem; }
