@import url("https://fonts.googleapis.com/css?family=Autour+One|Baloo|Baloo+Bhaina|Bowlby+One|Bowlby+One+SC|Gravitas+One|Margarine|Spicy+Rice");
body {
  font-family: 'Bowlby One', cursive;
  text-align: center;
  background: linear-gradient(to bottom right, #ea5458, #c64549);
  height: 100vh;
  border: 10px solid #537680;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box; }

.hide {
  opacity: 0;
  transition: all 0.8s;
  visibility: hidden; }

.show {
  opacity: 1;
  transition: all 0.8s;
  visibility: visible; }

h1 {
  font-size: 4rem;
  text-shadow: 2px 3px #f8d696; }

.or {
  font-size: 1rem;
  display: block; }

.line2 {
  font-size: 2rem;
  color: #731517;
  text-shadow: 2px 3px #fff; }

button {
  background: #f8d696;
  padding: 1rem;
  font-weight: 700;
  color: #ea5458;
  font-size: 1rem;
  border: 0;
  border-radius: 100%; }

h1 {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite; }

h2#result {
  color: #f8d696;
  font-size: 3rem; }
